:root {
  --golden-color: linear-gradient(to right, #ecc440, #fffa8a, #ddac17, #ffff95);
  --golden-color-reverse: linear-gradient(
    to left,
    #ecc440,
    #fffa8a,
    #ddac17,
    #ffff95
  );
  --yellow-golden: #ffff95;
  --white: #eef0fc;
}

a {
  color: inherit;
}

body {
  background: #101d42;
  background: linear-gradient(#101d42, #1d28a0);
  background-attachment: fixed;
  color: var(--white);
  margin: 0;
  font-family: Manrope, sans-serif;
  padding-top: 3.65rem;
}

header {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 10px black;
  padding: 0.5rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  & div {
    font-family: "Pacifico", sans-serif;
    font-size: 1.5rem;
  }

  & nav {
    display: flex;
    gap: 2.5rem;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}

/* Introduction */

.intro {
  display: flex;
  justify-content: space-between;
  height: 28rem;
}

.content {
  width: 60rem;
  text-align: center;
  align-self: center;

  & em {
    font-style: normal;
    background-image: var(--golden-color);
    color: transparent;
    background-clip: text;
    font-weight: 600;
  }

  & p:first-child {
    font-weight: 600;
    font-family: Manrope;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  & p:nth-child(2) {
    font-family: Manrope;
    font-size: 1.5rem;
    font-weight: 200;
  }

  & p:last-child {
    font-size: 1.25rem;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
  }
}

.square {
  height: 7rem;
  min-width: 7rem;
  border-width: 5px;
  border-style: solid;
  border-image-source: var(--golden-color);
}

.sq-left-top {
  border-image-slice: 1 0 0 1;
}

.sq-right-bottom {
  border-image-slice: 0 1 1 0;
  align-self: flex-end;
}

/* General section's settings */
.section-body {
  font-family: "Sora", sans-serif;
  padding: 4rem 6rem 7rem;
}

section-title:has(.section-title) {
  scroll-margin-top: 4rem;
}

.section-title {
  display: flex;
  align-items: center;

  & h1 {
    padding: 0 2rem;
    font-family: Manrope;
    font-weight: 700;
    font-size: 2.25rem;
    letter-spacing: 0.1em;
  }

  & .line {
    height: 4px;
    flex: 1;
  }

  & .line-left {
    background-image: var(--golden-color);
  }

  & .line-right {
    background-image: var(--golden-color-reverse);
  }

  & .bracket {
    min-width: 30px;
    height: 56px;
    border-bottom: 4px solid var(--yellow-golden);
    border-top: 4px solid var(--yellow-golden);
  }

  & .bracket-left {
    border-left: 4px solid var(--yellow-golden);
  }

  & .bracket-right {
    border-right: 4px solid var(--yellow-golden);
  }
}

/* Career path */

& .path-title {
  display: flex;
  justify-content: space-around;
  font-size: 1.75rem;

  & p {
    flex: 1;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      width: 2.8rem;
      height: 2.8rem;
      position: relative;
      left: 1rem;
    }

    &:first-child::after {
      background-image: url("./assets/Cap.svg");
      height: 2rem;
      vertical-align: top;
    }

    &:last-child::after {
      background-image: url("./assets/Suitcase\ work.svg");
      height: 2.6rem;
      vertical-align: bottom;
    }
  }
}

.path {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 3rem;
}

.timeline {
  grid-column: 2;
  grid-row: 1 / -1;
  position: relative;
  top: 0.625rem;

  &::after {
    content: "";
    position: absolute;
    width: 0.625rem;
    top: 0;
    bottom: 0.625rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00d1b2;
  }
}

.timeline-point {
  grid-column: 2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #00d1b2;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
}

.timeline-end {
  position: relative;
  grid-column: 2;

  &::after {
    content: "";
    position: absolute;
    width: 15rem;
    height: 0.625rem;
    background-color: #00d1b2;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
  }
}

.step-path {
  & p {
    margin: 0;
    margin-bottom: 10px;
  }

  & .title-step {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }

  & .location-step {
    font-family: Inter, sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  & .content-step {
    font-size: 1.2rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.25rem;
    border-radius: 10px;
    width: fit-content;
    margin: 1.25rem 0 0 0.625rem;
  }
}

.step-path:last-child {
  padding-bottom: 6rem;
}

.training-item {
  grid-column: 1;
}

.job-item {
  grid-column: 3;
}

.actual-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  & p {
    font: 1.5rem Manrope, sans-serif;
    margin: 1rem 0;

    &:first-child {
      font-weight: 700;
    }
  }
}

/* Skill's section */
section-title[text="Compétences"] + div {
  display: flex;
  justify-content: space-around;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;

  & > p {
    margin-top: 0;
    & .rank {
      font-size: 4rem;
    }
  }
}

.level {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.star {
  width: 40px;
  height: 20px;
  border: 3px solid;
  transform: skew(-20deg);
  border-image-source: var(--golden-color);
  border-image-slice: 1;
}

.star-completed {
  background-image: var(--golden-color);
}

.star-not-completed {
  box-sizing: border-box;
  background-color: transparent;
}

/* Projects */

section-title[text="Projets"] + .section-body {
  display: flex;
  justify-content: center;
}

.project {
  width: 15rem;
  height: 14rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  border-radius: 25px;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 2rem var(--white);
  }

  & div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    content-visibility: hidden;

    &:hover {
      content-visibility: visible;
      background-color: rgba(0, 0, 0, 0.9);
    }

    & p {
      font-size: 1.25rem;
      text-align: center;
      margin: 0;
    }

    & button {
      font-family: Manrope, sans-serif;
      font-size: inherit;
      border: 3px solid;
      background-color: transparent;
      color: inherit;
      padding: 0.5rem 1.8rem;
      border-radius: 25px;

      &:hover {
        background-color: var(--white);
        color: black;
      }
    }
  }
}

/* Contact */

section-title[text="Contact"] + div {
  font-size: 1.25rem;
}

.link-linkedin {
  color: inherit;
}

#download-btn {
  padding: 1rem;
  color: transparent;
  font-family: Manrope, sans-serif;
  font-size: inherit;
  font-weight: 500;
  border: 3px solid;
  border-image: var(--golden-color);
  border-image-slice: 1;
  background-image: var(--golden-color);
  background-clip: text;
  cursor: pointer;
}

#download-btn:hover {
  color: #101d42;
  background-clip: border-box;
}

/* Citations*/

.quote-section {
  background-color: var(--white);
  color: #101d42;
  padding: 2rem 0;
}

.quote-title {
  text-align: center;
  font-family: "Caveat", sans-serif;
  font-weight: 700;

  & h1 {
    margin: 0;
    font-size: 2.5rem;
  }
}

.carousel {
  margin-top: 3rem;
  overflow: hidden;
}

.quote-nav {
  text-align: center;

  & button {
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #232ed1;
    transition: background-color 0.5s ease;
  }

  & button:first-child {
    background-color: #232ed1;
  }
}

.quote {
  font-style: italic;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  padding: 0 4rem;
  flex: 0 1 100%;
  font-weight: 300;
  display: flex;
  justify-content: center;

  & p:first-child {
    font-weight: 600;
  }
}

.quote-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #101d42;
}

.links {
  display: flex;
  gap: 0.8rem;
  & img {
    width: 1.5rem;
    height: auto;
  }

  & a {
    display: inline-flex;
  }
}
